# Compiled Object files
*.slo
*.lo
*.o
*.obj
__wand_targets*

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

dochtml
docxml
