@charset "UTF-8";

body
	{
	font-size:10pt
	}

.paramrow
{
    display:block;
    margin-left:2em
}

.typename
	{
	font-family:"Consolas"
	}

.resword
	{
	font-weight: bold
	}

h1,h2,h3,h4
	{
	font-family:"Comic Sans MS";font-weight:bold;
	margin-bottom:0.3em;
	}

h5,label
    {
    font-family:"Comic Sans MS";display:inline;font-weight: bold
    }

li,p,td,h5,input{font-family:Verdana;}
	
h1+p,h2+p,h3+p
	{
	text-indent:0em;
	}

ol+p
    {
     text-indent:0em; 
    }

p
	{
	font-family:Verdana;
	margin-top:0em;
	text-indent:2em;
	margin-bottom:0em;
	}

li,td,th
    {margin-bottom:0.3em;}

td,th{vertical-align:top;border-bottom:0.1em solid #c0c0c0;
    margin-right:0;margin-left:0;padding-right:1em;padding-top:0.3em;padding-bottom:0.2em}

p,td,li,th,h5,code,input,label{font-size:10pt;}


code.type{font-weight:bold;}

table{margin-left:2em;margin-top:0.3em;border-collapse:collapse;
    margin-bottom:2em;}

/*
h1{counter-reset:section}

h2{counter-reset:subsection}

h3{counter-reset:subsubsection}

h2:before{counter-increment:section;content: counter(section) " "}

h3:before{counter-increment:subsection;content: counter(section) "." counter(subsection) " ";}

h4:before{counter-increment:subsection;content: counter(section) "." counter(subsection) "." counter(subsubsection);}
*/

@media print
	{
	h1,h2,h3,h4,h5,p,td,li{font-family:"CMU Serif"}
	table,ul,ol{orphans:4}
	}

